body {
    /* your styles here */
    color: rgb(232, 95, 118);
    font-family: sans-serif;
  }
  
  h1, #designed-by {
    /* your styles here */
    text-align: center;
  }
  
  .style1 {
    background-color: #C5AFA4;
  }
  
  .style2 {
    background-color: #CC7E85;
  }
  
  .style3 {
    background-color: #CF4D6F;
  }
  
  .style4 {
    background-color: #A36D90;
  }
  
  .style5 {
    background-color: #76818E;
  }
  
  .style6 {
    background-color: #C5D5EA;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }